<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="unipar.br.pav.turma.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="unipar.br.pav.turma.perspective.Perspective"
            id="unipar.br.pav.turma.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="unipar.br.pav.turma.telas.view.View"
            id="unipar.br.pav.turma.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="unipar.br.pav.turma.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="unipar.br.pav.turma.arquivo"
               label="Arquivo">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="unipar.br.pav.turma.sair"
                  label="Sair">
            </command>
         </menu>
         <command
               commandId="unipar.br.pav.turma.command1"
               style="push">
         </command>
         <menu
               id="unipar.br.pav.turma.cadastro"
               label="Cadastro">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="unipar.br.pav.turma.telas.editor.UsuarioEditor"
            id="unipar.br.pav.turma.telas.editor.UsuarioEditor"
            name="Usuário">
      </editor>
   </extension>

</plugin>
